<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pizza's</title>
  <link rel="stylesheet" href="css/luigi.css">
  <link rel="shortcut icon" href="images/luigi.ico" type="image/x-icon">
</head>
<body>
<h1>Pizza's</h1>
<table id="pizzatabel">
  <thead>
  <tr>
    <th>Naam</th>
    <th>Prijs</th>
    <th>Pikant</th>
  </tr>
  <tbody>
    <tr th:each="pizza : ${allePizzas}" th:object="${pizza}">
      <td th:text="*{naam}"></td>
      <td th:text="*{prijs}" class="getal"></td>
      <td th:if="*{pikant}">pikant</td>
    </tr>
  </tbody>
  </thead>
</table>
</body>
</html>